/* body {
    background-color: #011212;
}

.ball {
    width: 100px;
    height: 100px;
    background-color: #ff8800;
    border-radius: 50px;
} */

:root{
    --bgcolor:black;
    --ballcolor:orange;
}

html{
--size: 100px;

}

body {
    background-color: var(--bgcolor, gray);
}

.ball {
    width:var(--size);
    height:var(--size);
    background-color:var(--ballcolor, green);
    border-radius:calc(var(--size) / 1.5);
    -moz-border-radius:calc(var(--size) / 1.5);
    -ms-border-radius:calc(var(--size) / 1.5);
    -o-border-radius:calc(var(--size) / 1.5);
    -webkit-border-radius:calc(var(--size) / 1.5);
}