body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "verd verd verd"
    "gial aran ross"
    "gial blu ross";
}

#green{
    grid-area: verd;
}

#yellow{
    grid-area: gial;
}

#orange{
    grid-area: aran;
}

#red{
    grid-area: ross;
}

#blue{
    grid-area: blu;
}